title = "Contact & Reservation"
description = "Contact Details and Reservation Form"
url = "/contact-reservation"
layout = "default"

[reservation]
==
<div class="container">

    <!-- Nav tabs -->
    <div class="row">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#contact" aria-controls="food" role="tab" data-toggle="tab">Contact</a>
            </li>
            <li role="presentation">
                <a href="#reservation" aria-controls="drinks" role="tab" data-toggle="tab">Reservation</a>
            </li>
        </ul>
        <br>
    </div>


    <!-- Tab panes -->
    <div class="tab-content">

        <!-- Contact -->
        <div role="tabpanel" class="tab-pane fade in active" id="contact">
            <div class="text-center">
                <h1 class="hidden-xs">Contact</h1>
            </div>

            <div class="row">

            	<div class="col-sm-6">
                    <strong>Laurel Leaf Irish Pub Vienna</strong><br>
					Theobaldgasse 15 <br>
					A-1060 Wien <br>
                    <br>
                    <strong>Telefon</strong> <br>
				    +43 1 585 68 65 <br>
					<br>
                    <strong>Öffnungszeiten</strong><br>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td>Montag - Donnerstag</td>
                                    <td>11.00 - 01.00</td>
                                </tr>
                                <tr>
                                    <td>Freitag, Samstag</td>
                                    <td>11.00 - 03.00</td>
                                </tr>
                                <tr>
                                    <td>Sonntag und Feiertag</td>
                                    <td>17.00 - 00.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <strong><i class="icon-facebook icon-2x"></i><a href="https://www.facebook.com/pages/Laurel-leaf-1060/145081492197194" target="_blank"> Laurel Leaf Facebook Seite</a></strong>

                    <div class="tripadvisor">
                        <div id="TA_restaurantWidgetWhite76" class="TA_restaurantWidgetWhite">
                        <ul id="DSInxQ0c" class="TA_links NTI5kszNH">
                        <li id="Wt2WMzggd" class="TTNLUq">
                        <a target="_blank" href="https://www.tripadvisor.at/"><img src="https://www.tripadvisor.at/img/cdsi/partner/tripadvisor_logo_117x18-24177-2.png" alt="TripAdvisor"/></a>
                        </li>
                        </ul>
                        </div>
                        <script src="https://www.jscache.com/wejs?wtype=restaurantWidgetWhite&amp;uniq=76&amp;locationId=6786833&amp;icon=knifeAndFork&amp;lang=de_AT&amp;display_version=2"></script>
                    </div>
                </div>

                <div class="col-sm-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2687.12777489514!2d16.35673813159021!3d48.20018387922846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d078f88c4d8e9%3A0x235557c19dd4fe8a!2sLaurel+Leaf+Irish+Pub+Vienna!5e0!3m2!1sde!2sat!4v1504893659845" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>     
                </div>

            </div><!-- End row -->
        </div><!-- End Tabpanel -->



        <!-- Reservation -->
        <div role="tabpanel" class="tab-pane dropdown fade" id="reservation">
            <div class="text-center">
                <h1 class="hidden-xs">Reserve a table</h1>
            </div>

            <div class="row">

                <div class="col-md-12">
                    <p><strong>Tischreservierung im Laurel Leaf, wichtige Hinweise:</strong><br>
                        Wir antworten innerhalb von 24 Stunden auf eine Reservierungsanfrage. Solltest du innerhalb dieser Zeit keine Antwort bekommen haben, bitten wir dich, telefonisch unter 01 /585 68 65 während unserer regulären Öffnungszeiten anzurufen. Für Gruppen grösser als 10 Personen (Geburtstagsparty's, Sponsionsfeier, etc.) bitten wir dich, telefonisch anzufragen.
                    </p>
                    <hr>
                </div>


                <div class="col-md-6">
                    <form
                            action="reservation"
                            method="POST"
                            id="reservationForm"
                            data-request="onSend"
                            data-request-validate
                            data-request-flash>


                        <div class="form-group">
                            <label for="date" class="required">Datum</label>
                            <input type='date' name="date" value="{{ form_value('date') }}" class="form-control" required/>
                            <p class="help-block">Format tt.mm.jjjj - z.B. <strong>{{ "now"|date("d.m.Y") }}</strong></p>
                            <div data-validate-for="date"></div>
                        </div>

                        <div class="form-group">
                            <label for="time" class="required">Zeit</label>
                            <input type='time' name="time" value="{{ form_value('time') }}" class="form-control" required/>
                            <p class="help-block">Format hh:ii - z.B. <strong>18:00</strong></p>
                            <div data-validate-for="time">Sorry aber wir akzeptieren keine Reservierungen nach 20:00!</div>
                        </div>

                        <div class="form-group">
                            <label for="name" class="required">Dein Name</label>
                            <input type="text" name="name" value="{{ form_value('name') }}" class="form-control" required/>
                            <div data-validate-for="name"></div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="required">Deine E-Mail</label>
                            <input type="text" name="email" value="{{ form_value('email') }}" class="form-control" required/>
                            <div data-validate-for="email"></div>
                        </div>

                        <div class="form-group">
                            <label for="people" class="required">Wieviele Personen?</label>
                            <input type="number" name="people" min="1" max="10" class="form-control" required/>
                            <div data-validate-for="people"></div>
                        </div>

                        <div class="radio">
                            <label>
                                <input type="radio" name="smoker" value="nonsmoker" {% if form_value('smoker') == "nonsmoker" %} checked {% endif %}>
                                Nichtraucher Bereich
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="smoker" value="smoker" {% if form_value('smoker') == "smoker" %} checked {% endif %}>
                                Raucher Bereich
                            </label>
                            <p class="help-block">Wenn hier keine Angabe gemacht wird, wird ein beliebiger Bereich zugeteilt.
                            </p>
                        </div>

                        <div class="form-group">
                            {{ form_label('message', 'Nachricht') }}
                            <textarea class="form-control" name="sometext" rows="3">{{ form_value('sometext') }}</textarea>
                        </div>

                        <div class="form-group">
                            <button
                                    id="submit"
                                    type="submit"
                                    class="btn btn-info btn-lg">
                                Absenden
                            </button>
                        </div>

                    </form>


                </div>

            </div>

        </div>
    </div>


</div>