title = "Food & Drinks"
url = "/food-drinks"
layout = "default"

[foods]
[drinks]
==

{#<div class="container-fluid">
    <div class="row">
        #}{#{% partial 'site/heroimage.htm' %}#}{#
    </div>
</div>#}

<div class="container">

        <div id="food" class="row hidden-lg hidden-md hidden-sm">
            <ul class="nav nav-pills nav-justified">
                <li class="active"><a href="food-drinks">Food</a></li>
                <li><a href="#drinks">Drinks</a></li>
            </ul>
        </div>
    <div class="row">
        <br>
        <div class="col text-center">
            <h1>FOOD</h1>
        </div>
        <br>

        <!-- Burger -->
        <div class="col-sm-6 col-md-4">
            <h3>Burger</h3>

            {% for food in foods.burger %}
                {% set class = '' %}

                <div class="row">
                    <div class="col-xs-9 col-md-9">
                        <p id="item-{{ food.id }}" class="index">
                            <strong class="
                                    {% if food.new == true %}
                                        {% set class = 'new ' %}
                                    {% endif %}

                                    {% if food.vegetarisch == true %}
                                        {% set class = class ~ 'vegetarian ' %}
                                    {% endif %}

                                    {% if food.vegan == true %}
                                        {% set class = class ~ 'vegan ' %}
                                    {% endif %}

                                    {% if food.spicy == true %}
                                        {% set class = class ~ 'spicy ' %}
                                    {% endif %}
                            {{ class }}">
                                {{ food.name }} </strong>
                            <sup>
                                <small>
                                    {% for allergene in food.allergene %}
                                        {{ allergene }}
                                    {% endfor %}
                                </small>
                            </sup> <br>
                            {% if food.description %}
                                {{ food.description }} <br>
                            {% endif %}
                            € {{ food.amount|number_format(2, ',', '.') }}
                        </p>
                    </div>

                    <div class="col-xs-3 col-md-3">
                        <form
                                data-request="onTodaysFoodChoice"
                                data-request-update="foodchoice: '#todaysfoodchoice'">

                            <input type="hidden" name="id" value="{{ food.id }}">

                            <button
                                    id="heart"
                                    type="submit"
                                    class="icon-heart icon-2x light-green">
                            </button>
                        </form>
                    </div>
                </div>


            {% endfor %}

            {% partial 'site/food/bestellsdazu.htm' %}

            {% partial 'site/food/spanferkel.htm' %}


        </div>

        <!-- Fingerfood im Körberl -->
        <div class="col-sm-6 col-md-4">
            <h3>Fingerfood im Körberl</h3>
            {% for food in foods.koerberl %}
                {% set class = '' %}
                <div class="row">
                    <div class="col-xs-9 col-md-9">
                        <p id="item-{{ food.id }}" class="index">
                            <strong class="
                                    {% if food.new == true %}
                                        {% set class = 'new ' %}
                                    {% endif %}

                                    {% if food.vegetarisch == true %}
                                        {% set class = class ~ 'vegetarian ' %}
                                    {% endif %}

                                    {% if food.vegan == true %}
                                        {% set class = class ~ 'vegan ' %}
                                    {% endif %}

                                    {% if food.spicy == true %}
                                        {% set class = class ~ 'spicy ' %}
                                    {% endif %}
                            {{ class }}">
                                {{ food.name }} </strong>
                            <sup>
                                <small>
                                    {% for allergene in food.allergene %}
                                        {{ allergene }}
                                    {% endfor %}
                                </small>
                            </sup> <br>
                            {% if food.description %}
                                {{ food.description }} <br>
                            {% endif %}
                            € {{ food.amount|number_format(2, ',', '.') }}
                        </p>
                    </div>

                    <div class="col-xs-3 col-md-3">
                        <form
                                data-request="onTodaysFoodChoice"
                                data-request-update="foodchoice: '#todaysfoodchoice'">

                            <input type="hidden" name="id" value="{{ food.id }}">

                            <button
                                    id="heart"
                                    type="submit"
                                    class="icon-heart icon-2x light-green">
                            </button>
                        </form>
                    </div>
                </div>


            {% endfor %}
        </div>

        <!-- Classics -->
        <div class="col-sm-6 col-md-4">
            <h3>Classics</h3>
            {% for food in foods.classics %}
                {% set class = '' %}
                {#        <div class="image-container">
                            {% if food.image %}
                                <img src="{{ food.image.path }}" alt="{{ food.name }}" title="{{ food.name }}">
                            {% else %}

                            {% endif %}
                            <h3 class="section">{{ food.name }}</h3>
                        </div>#}


                <div class="row">
                    <div class="col-xs-9 col-md-9">
                        <p id="item-{{ food.id }}" class="index">
                            <strong class="
                                    {% if food.new == true %}
                                        {% set class = 'new ' %}
                                    {% endif %}

                                    {% if food.vegetarisch == true %}
                                        {% set class = class ~ 'vegetarian ' %}
                                    {% endif %}

                                    {% if food.vegan == true %}
                                        {% set class = class ~ 'vegan ' %}
                                    {% endif %}

                                    {% if food.spicy == true %}
                                        {% set class = class ~ 'spicy ' %}
                                    {% endif %}
                            {{ class }}">
                                {{ food.name }} </strong>
                            <sup>
                                <small>
                                    {% for allergene in food.allergene %}
                                        {{ allergene }}
                                    {% endfor %}
                                </small>
                            </sup> <br>
                            {% if food.description %}
                                {{ food.description }} <br>
                            {% endif %}
                            € {{ food.amount|number_format(2, ',', '.') }}
                        </p>
                    </div>

                    <div class="col-xs-3 col-md-3">
                        <form
                                data-request="onTodaysFoodChoice"
                                data-request-update="foodchoice: '#todaysfoodchoice'">

                            <input type="hidden" name="id" value="{{ food.id }}">

                            <button
                                    id="heart"
                                    type="submit"
                                    class="icon-heart icon-2x light-green">
                            </button>
                        </form>
                    </div>
                </div>


            {% endfor %}
        </div>

        <!-- Riesenschwarzbrote -->
        <div class="col-sm-6 col-md-4">
            <h3>Riesen Schwarzbrote</h3>
            {% for food in foods.riesenSchwarzBrote %}
                {% set class = '' %}
                <div class="row">
                    <div class="col-xs-9 col-md-9">
                        <strong class="
                                    {% if food.new == true %}
                                        {% set class = 'new ' %}
                                    {% endif %}

                                    {% if food.vegetarisch == true %}
                                        {% set class = class ~ 'vegetarian ' %}
                                    {% endif %}

                                    {% if food.vegan == true %}
                                        {% set class = class ~ 'vegan ' %}
                                    {% endif %}

                                    {% if food.spicy == true %}
                                        {% set class = class ~ 'spicy ' %}
                                    {% endif %}
                            {{ class }}">
                            {{ food.name }} </strong>
                        <sup>
                            <small>
                                {% for allergene in food.allergene %}
                                    {{ allergene }}
                                {% endfor %}
                            </small>
                        </sup> <br>
                        {% if food.description %}
                            {{ food.description }} <br>
                        {% endif %}
                        € {{ food.amount|number_format(2, ',', '.') }}
                        </p>
                    </div>

                    <div class="col-xs-3 col-md-3">
                        <form
                                data-request="onTodaysFoodChoice"
                                data-request-update="foodchoice: '#todaysfoodchoice'">

                            <input type="hidden" name="id" value="{{ food.id }}">

                            <button
                                    id="heart"
                                    type="submit"
                                    class="icon-heart icon-2x light-green">
                            </button>
                        </form>
                    </div>
                </div>


            {% endfor %}
        </div>

        <!-- Salate -->
        <div class="col-sm-6 col-md-4">
            <h3>Salate</h3>
            {% for food in foods.salate %}
                {% set class = '' %}
                <div class="row">
                    <div class="col-xs-9 col-md-9">
                        <p id="item-{{ food.id }}" class="index">
                            <strong class="
                                    {% if food.new == true %}
                                        {% set class = 'new ' %}
                                    {% endif %}

                                    {% if food.vegetarisch == true %}
                                        {% set class = class ~ 'vegetarian ' %}
                                    {% endif %}

                                    {% if food.vegan == true %}
                                        {% set class = class ~ 'vegan ' %}
                                    {% endif %}

                                    {% if food.spicy == true %}
                                        {% set class = class ~ 'spicy ' %}
                                    {% endif %}
                            {{ class }}">
                                {{ food.name }} </strong>
                            <sup>
                                <small>
                                    {% for allergene in food.allergene %}
                                        {{ allergene }}
                                    {% endfor %}
                                </small>
                            </sup> <br>
                            {% if food.description %}
                                {{ food.description }} <br>
                            {% endif %}
                            € {{ food.amount|number_format(2, ',', '.') }}
                        </p>
                    </div>

                    <div class="col-xs-3 col-md-3">
                        <form
                                data-request="onTodaysFoodChoice"
                                data-request-update="foodchoice: '#todaysfoodchoice'">

                            <input type="hidden" name="id" value="{{ food.id }}">

                            <button
                                    id="heart"
                                    type="submit"
                                    class="icon-heart icon-2x light-green">
                            </button>
                        </form>
                    </div>
                </div>


            {% endfor %}
        </div>

        <!-- Nachspeisen -->
        <div class="col-sm-6 col-md-4">
            <h3>Nachspeisen</h3>
            {% for food in foods.nachSpeisen %}
                {% set class = '' %}
                {#        <div class="image-container">
                            {% if food.image %}
                                <img src="{{ food.image.path }}" alt="{{ food.name }}" title="{{ food.name }}">
                            {% else %}

                            {% endif %}
                            <h3 class="section">{{ food.name }}</h3>
                        </div>#}


                <div class="row">
                    <div class="col-xs-9 col-md-9">
                        <p id="item-{{ food.id }}" class="index">
                            <strong class="
                                    {% if food.new == true %}
                                        {% set class = 'new ' %}
                                    {% endif %}

                                    {% if food.vegetarisch == true %}
                                        {% set class = class ~ 'vegetarian ' %}
                                    {% endif %}

                                    {% if food.vegan == true %}
                                        {% set class = class ~ 'vegan ' %}
                                    {% endif %}

                                    {% if food.spicy == true %}
                                        {% set class = class ~ 'spicy ' %}
                                    {% endif %}
                            {{ class }}">
                                {{ food.name }} </strong>
                            <sup>
                                <small>
                                    {% for allergene in food.allergene %}
                                        {{ allergene }}
                                    {% endfor %}
                                </small>
                            </sup> <br>
                            {% if food.description %}
                                {{ food.description }} <br>
                            {% endif %}
                            € {{ food.amount|number_format(2, ',', '.') }}
                        </p>
                    </div>

                    <div class="col-xs-3 col-md-3">
                        <form
                                data-request="onTodaysFoodChoice"
                                data-request-update="foodchoice: '#todaysfoodchoice'">

                            <input type="hidden" name="id" value="{{ food.id }}">

                            <button
                                    id="heart"
                                    type="submit"
                                    class="icon-heart icon-2x light-green">
                            </button>
                        </form>
                    </div>
                </div>


            {% endfor %}
        </div>

        <div class="col-sm-8 ">
            <br>
            {% partial 'site/food/allergene.htm' %}
        </div>
    </div>


    <div class="row">
        <div id="drinks" class="hidden-lg hidden-md hidden-sm">
                <ul class="nav nav-pills">
                    <li><a href="#food">Food</a></li>
                    <li class="active"><a href="#drinks">Drinks</a></li>
                </ul>
        </div>

        <br>
        <div class="col text-center">
            <h1>DRINKS</h1>
        </div>
        <br>
        <div class="col-sm-6 col-md-4">

            <h3>Draught</h3>

            <div id="app">
                {% set newArray = [] %}
                {% for drink in drinks.draught %}
                    <ul class="list-unstyled drink">
                        {% if drink.name not in newArray %}
                            <li id="item-{{ drink.id }}" class="index">
                                <strong>{{ drink.name }} </strong>
                                <sup>
                                    {% for allergene in drink.allergene %}
                                        {{ allergene }}
                                    {% endfor %}
                                </sup> <i>{{ drink.description }}</i>
                            </li>
                            {% set newArray = newArray|merge([drink.name]) %}
                        {% endif %}

                    </ul>
                {% endfor %}

            </div>

            <h3>Bottles</h3>

            <div id="app">
                {% set newArray = [] %}
                {% for drink in drinks.bottles %}
                    <ul class="list-unstyled drink">
                        {% if drink.name not in newArray %}
                            <li id="item-{{ drink.id }}" class="index">
                                <strong>{{ drink.name }} </strong>
                                <sup>
                                    {% for allergene in drink.allergene %}
                                        {{ allergene }}
                                    {% endfor %}
                                </sup> <i>{{ drink.description }}</i>
                            </li>
                            {% set newArray = newArray|merge([drink.name]) %}
                        {% endif %}

                    </ul>
                {% endfor %}

            </div>

        </div>

        <div class="col-sm-6 col-md-4">

            <h3>Craft Beer</h3>

            <div id="app">
                {% set newArray = [] %}
                {% for drink in drinks.craftBeer %}
                    <ul class="list-unstyled drink">
                        {% if drink.name not in newArray %}
                            <li id="item-{{ drink.id }}" class="index">
                                <strong>{{ drink.name }} </strong>
                                <sup>
                                    {% for allergene in drink.allergene %}
                                        {{ allergene }}
                                    {% endfor %}
                                </sup> <i>{{ drink.description }}</i>
                            </li>
                            {% set newArray = newArray|merge([drink.name]) %}
                        {% endif %}

                    </ul>
                {% endfor %}

            </div>

        </div>

        <div class="col-sm-6 col-md-4">

            <h3>Cider Draught</h3>

            <div id="app">
                {% set newArray = [] %}
                {% for drink in drinks.ciderDraught %}
                    <ul class="list-unstyled drink">
                        {% if drink.name not in newArray %}
                            <li id="item-{{ drink.id }}" class="index">
                                <strong>{{ drink.name }} </strong>
                                <sup>
                                    {% for allergene in drink.allergene %}
                                        {{ allergene }}
                                    {% endfor %}
                                </sup> <i>{{ drink.description }}</i>
                            </li>
                            {% set newArray = newArray|merge([drink.name]) %}
                        {% endif %}

                    </ul>
                {% endfor %}

            </div>

        </div>

        <div class="col-sm-6 col-md-4">

            <h3>Cider Bottles</h3>

            <div id="app">
                {% set newArray = [] %}
                {% for drink in drinks.ciderBottles %}
                    <ul class="list-unstyled drink">
                        {% if drink.name not in newArray %}
                            <li id="item-{{ drink.id }}" class="index">
                                <strong>{{ drink.name }} </strong>
                                <sup>
                                    {% for allergene in drink.allergene %}
                                        {{ allergene }}
                                    {% endfor %}
                                </sup> <i>{{ drink.description }}</i>
                            </li>
                            {% set newArray = newArray|merge([drink.name]) %}
                        {% endif %}

                    </ul>
                {% endfor %}

            </div>

        </div>

        <div class="col-sm-6 col-md-4">

            <h3>Wine</h3>

            <div id="app">
                {% set newArray = [] %}
                {% for drink in drinks.wine %}
                    <ul class="list-unstyled drink">
                        {% if drink.name not in newArray %}
                            <li id="item-{{ drink.id }}" class="index">
                                <strong>{{ drink.name }} </strong>
                                <sup>
                                    {% for allergene in drink.allergene %}
                                        {{ allergene }}
                                    {% endfor %}
                                </sup> <i>{{ drink.description }}</i>
                            </li>
                            {% set newArray = newArray|merge([drink.name]) %}
                        {% endif %}

                    </ul>
                {% endfor %}

            </div>

        </div>

        <div class="col-sm-6 col-md-4">

            <h3>Whiskey</h3>

            <div id="app">
                {% set newArray = [] %}
                {% for drink in drinks.whiskey %}
                    <ul class="list-unstyled drink">
                        {% if drink.name not in newArray %}
                            <li id="item-{{ drink.id }}" class="index">
                                <strong>{{ drink.name }} </strong>
                                <sup>
                                    {% for allergene in drink.allergene %}
                                        {{ allergene }}
                                    {% endfor %}
                                </sup> <i>{{ drink.description }}</i>
                            </li>
                            {% set newArray = newArray|merge([drink.name]) %}
                        {% endif %}

                    </ul>
                {% endfor %}

            </div>

        </div>

        <div class="col-sm-6 col-md-4">

            <h3>Spirits</h3>

            <div id="app">
                {% set newArray = [] %}
                {% for drink in drinks.spirits %}
                    <ul class="list-unstyled drink">
                        {% if drink.name not in newArray %}
                            <li id="item-{{ drink.id }}" class="index">
                                <strong>{{ drink.name }} </strong>
                                <sup>
                                    {% for allergene in drink.allergene %}
                                        {{ allergene }}
                                    {% endfor %}
                                </sup> <i>{{ drink.description }}</i>
                            </li>
                            {% set newArray = newArray|merge([drink.name]) %}
                        {% endif %}

                    </ul>
                {% endfor %}

            </div>

        </div>

        <div class="col-sm-6 col-md-4">

            <h3>Long Drinks</h3>

            <div id="app">
                {% set newArray = [] %}
                {% for drink in drinks.longDrinks %}
                    <ul class="list-unstyled drink">
                        {% if drink.name not in newArray %}
                            <li id="item-{{ drink.id }}" class="index">
                                <strong>{{ drink.name }} </strong>
                                <sup>
                                    {% for allergene in drink.allergene %}
                                        {{ allergene }}
                                    {% endfor %}
                                </sup> <i>{{ drink.description }}</i>
                            </li>
                            {% set newArray = newArray|merge([drink.name]) %}
                        {% endif %}

                    </ul>
                {% endfor %}

            </div>

        </div>

        <div class="col-sm-6 col-md-4">

            <h3>Shots</h3>

            <div id="app">
                {% set newArray = [] %}
                {% for drink in drinks.shots %}
                    <ul class="list-unstyled drink">
                        {% if drink.name not in newArray %}
                            <li id="item-{{ drink.id }}" class="index">
                                <strong>{{ drink.name }} </strong>
                                <sup>
                                    {% for allergene in drink.allergene %}
                                        {{ allergene }}
                                    {% endfor %}
                                </sup> <i>{{ drink.description }}</i>
                            </li>
                            {% set newArray = newArray|merge([drink.name]) %}
                        {% endif %}

                    </ul>
                {% endfor %}

            </div>

        </div>

        <div class="col-sm-6 col-md-4">

            <h3>Spirits Bottles</h3>

            <div id="app">
                {% set newArray = [] %}
                {% for drink in drinks.spiritsBottles %}
                    <ul class="list-unstyled drink">
                        {% if drink.name not in newArray %}
                            <li id="item-{{ drink.id }}" class="index">
                                <strong>{{ drink.name }} </strong>
                                <sup>
                                    {% for allergene in drink.allergene %}
                                        {{ allergene }}
                                    {% endfor %}
                                </sup> <i>{{ drink.description }}</i>
                            </li>
                            {% set newArray = newArray|merge([drink.name]) %}
                        {% endif %}

                    </ul>
                {% endfor %}

            </div>

        </div>

        <div class="col-sm-6 col-md-4">

            <h3>Combi Bottles</h3>

            <div id="app">
                {% set newArray = [] %}
                {% for drink in drinks.combiBottles %}
                    <ul class="list-unstyled drink">
                        {% if drink.name not in newArray %}
                            <li id="item-{{ drink.id }}" class="index">
                                <strong>{{ drink.name }} </strong>
                                <sup>
                                    {% for allergene in drink.allergene %}
                                        {{ allergene }}
                                    {% endfor %}
                                </sup> <i>{{ drink.description }}</i>
                            </li>
                            {% set newArray = newArray|merge([drink.name]) %}
                        {% endif %}

                    </ul>
                {% endfor %}

            </div>

        </div>

        <div class="col-sm-6 col-md-4">

            <h3>Non-Alcoholic Drinks</h3>

            <div id="app">
                {% set newArray = [] %}
                {% for drink in drinks.nonAlcoholicDrinks %}
                    <ul class="list-unstyled drink">
                        {% if drink.name not in newArray %}
                            <li id="item-{{ drink.id }}" class="index">
                                <strong>{{ drink.name }} </strong>
                                <sup>
                                    {% for allergene in drink.allergene %}
                                        {{ allergene }}
                                    {% endfor %}
                                </sup> <i>{{ drink.description }}</i>
                            </li>
                            {% set newArray = newArray|merge([drink.name]) %}
                        {% endif %}

                    </ul>
                {% endfor %}

            </div>

        </div>

        <div class="col-sm-6 col-md-4">

            <h3>Hot Drinks</h3>

            <div id="app">
                {% set newArray = [] %}
                {% for drink in drinks.hotDrinks %}
                    <ul class="list-unstyled drink">
                        {% if drink.name not in newArray %}
                            <li id="item-{{ drink.id }}" class="index">
                                <strong>{{ drink.name }} </strong>
                                <sup>
                                    {% for allergene in drink.allergene %}
                                        {{ allergene }}
                                    {% endfor %}
                                </sup> <i>{{ drink.description }}</i>
                            </li>
                            {% set newArray = newArray|merge([drink.name]) %}
                        {% endif %}

                    </ul>
                {% endfor %}

            </div>

        </div>
    </div>
</div>








