title = "Food & Drinks"
url = "/food-drinks"
layout = "default"
meta_description = "Burger, Riesenschwarzbrote, Spareribs, Fingerfood Körberl in verschiedenen Varianten - ein wöchentlich wechselndes Mittagsmenü. Vielfältige Biere, Cider, uvm."
is_hidden = 0

[lunchoffers]
==

<div class="container">

    <!-- Nav tabs -->
    <div class="row">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#food" aria-controls="food" role="tab" data-toggle="tab">
                    Food
                </a>
            </li>
            <li role="presentation">
                <a href="#drinks" aria-controls="drinks" role="tab" data-toggle="tab">
                    Drinks
                </a>
            </li>
            <li role="presentation">
                <a href="#lunchoffer" aria-controls="lunchoffer" role="tab" data-toggle="tab">
                    Lunchoffer
                </a>
            </li>
        </ul>
        <br>
    </div>


    <!-- Tab panes -->
    <div class="tab-content">

        <!-- Food -->
        <div id="food" role="tabpanel" class="tab-pane fade in active">
            
            {% partial 'food' %}
            
        </div>

        <!-- Drinks -->
        <div id="drinks" role="tabpanel" class="tab-pane fade in">

            {% partial 'drinks' %}

        </div>

        <!-- Lunchoffer -->
        <div id="lunchoffer" role="tabpanel" class="tab-pane fade in">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="text-center relativ">
                        <h1 class="lunchoffer">
                            Mittagsangebot
                        </h1>
                        <p><em>
                                wähle täglich Montags - Freitags jeweils von 11°° - 17°° <br>
                                aus 3 unterschiedlichen Menüs
                                mit wahlweise Suppe oder Dessert
                            </em></p>
                <!-- Wenn Mittagsmenü vorhanden -->
                {% if lunchoffer_weekly|length %} 
                        <div class="text-center weekday">
                            {{ week_start_date }} - {{ week_end_date }}
                        </div>
                        <hr>
                        <p class="text-center">
                            <em>
                                -- {% content 'food_soup.txt' %} --
                            </em>
                        </p>
                    </div>
                </div>
            </div>

            

            <div class="row">

                <div class="col-sm-6 col-sm-offset-3">

                    {% for weekly_food in lunchoffer_weekly %}

                        <div class="row">
                            <div class="col-xs-9">

                                <p id="item-{{ weekly_food.food.id }}" class="index">
                                    <strong class="
                                {% if weekly_food.new == true %}
                                {% set class = 'new ' %}
                                {% endif %}

                                {% if weekly_food.food.vegetarisch == true %}
                                {% set class = class ~ 'vegetarian ' %}
                                {% endif %}

                                {% if weekly_food.food.vegan == true %}
                                {% set class = class ~ 'vegan ' %}
                                {% endif %}

                                {% if weekly_food.food.spicy == true %}
                                {% set class = class ~ 'spicy ' %}
                                {% endif %}

                                {{ class }}">

                                        {{ weekly_food.food.name }}
                                    </strong>
                                    <sup>
                                        <small>
                                            {% for allergene in weekly_food.food.allergene %}
                                                {{ allergene }}
                                            {% endfor %}
                                        </small>
                                    </sup>
                                    {% if weekly_food.food.description %}
                                        <br> {{ weekly_food.food.description }}
                                    {% endif %}
                                </p>
                            </div>
                            <div class="col-xs-3 text-right">
                                € {{ weekly_food.offer_price|number_format(2, ',', '.') }}
                            </div>


                        </div>

                    {% endfor %} <!-- Weekly Food End -->


                    {% for food in lunchoffer_daily %}

                        {% set class = '' %}

                        <div class="row">
                            <div class="col-sm-12 text-center weekday">
                                {{ food.date|strftime('%A, %e.%m.%Y') }}
                                <hr>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-9">
                                <p id="item-{{ food.food.id }}" class="index">
                                    <strong class="
                            {% if food.food.new == true %}
                            {% set class = 'new ' %}
                            {% endif %}

                            {% if food.food.vegetarisch == true %}
                            {% set class = class ~ 'vegetarian ' %}
                            {% endif %}

                            {% if food.food.vegan == true %}
                            {% set class = class ~ 'vegan ' %}
                            {% endif %}

                            {% if food.food.spicy == true %}
                            {% set class = class ~ 'spicy ' %}
                            {% endif %}

                            {{ class }}">

                            {{ food.food.name }}
                            </strong>
                                    <sup>
                                        <small>
                                            {% for allergene in food.food.allergene %}
                                                {{ allergene }}
                                            {% endfor %}
                                        </small>
                                    </sup>
                                    {% if food.food.description %}
                                        <br> {{ food.food.description }}
                                    {% endif %}
                                </p>
                            </div>
                            <div class="col-xs-3 text-right">
                                € {{ food.offer_price|number_format(2, ',', '.') }}
                            </div>
                        </div> <!-- End row of regular Menues -->

                    {% endfor %}

                    <!-- Always Hot -->
                    <br>
                    <br>
                    <hr>

                    <h3 class="text-center">.. always Hot!</h3>

                    {% for food in lunchoffer_always_hot %}

                        {% set class = '' %}

                            <div class="row">
                                <div class="col-xs-9">

                                    <p id="item-{{ food.food.id }}" class="index">
                                        <strong class="
                        {% if food.food.new == true %}
                        {% set class = 'new ' %}
                        {% endif %}

                        {% if food.food.vegetarisch == true %}
                        {% set class = class ~ 'vegetarian ' %}
                        {% endif %}

                        {% if food.food.vegan == true %}
                        {% set class = class ~ 'vegan ' %}
                        {% endif %}

                        {% if food.food.spicy == true %}
                        {% set class = class ~ 'spicy ' %}
                        {% endif %}

                        {{ class }}">

                        {{ food.food.name }}
                        </strong>
                                        <sup>
                                            <small>
                                                {% for allergene in food.food.allergene %}
                                                    {{ allergene }}
                                                {% endfor %}
                                            </small>
                                        </sup>
                                        {% if food.food.description %}
                                            <br> {{ food.food.description }}
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="col-xs-3 text-right">
                                    € {{ food.offer_price|number_format(2, ',', '.') }}
                                </div>
                            </div>

                {% endfor %}

                {% else %}

                    <div class="text-center">
                        <p>
                            ... das neue Wochenmenü folgt in Kürze ...
                        </p>
                    </div>

                {% endif %} <!-- EndeWenn Mittagsmenü vorhanden -->

                <br>
                <hr>
                <p>Hinweis: Wir akzeptieren auch Sodexo Gutscheine.</p>


                </div>


            </div>

        </div> <!-- End #lunchoffer -->
    </div>


</div>