title = 'Food & Drinks'
description = 'Listing with Ajax filtering capabilities'
url = '/food-drinks-ajax'
layout = default
==
<?php
use Milo\Food\Models\Food;
use Milo\Food\Models\FoodCategory;

function onStart() {
    $this->prepareVars();
}

function onFilterCategories() {
$this->prepareVars();
}

function prepareVars() {
$options = post('Filter', []);

$this['foods'] = Food::listFrontendFood($options);
$this['categories'] = FoodCategory::all();

}

?>
==

<div class="container">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#food" aria-controls="food" role="tab" data-toggle="tab">Food</a>
        </li>
        <li role="presentation">
            <a href="#drinks" aria-controls="drinks" role="tab" data-toggle="tab">Drinks</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

        <div role="tabpanel" class="tab-pane fade in active" id="food">
            <br>
            <div class="text-center">
                <h1>FOOD</h1>
            </div>

            <div class="row">
                <div class="col-xs-8 col-xs-offset-2 hidden-sm hidden-md hidden-lg">
                    {{ form_ajax('onFilterCategories', { update: { 'site/food/foodwrapper': '#foodWrapper' } }) }}
                    <div id="CategoriesFilter">
                        <select class="form-control wide" name="Filter[foodcategory]">
                            <option value="">Select Food Category</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {{ form_close() }}
                </div>
            </div>

            {#                    <div class="btn-group btn-group-sm" role="group" aria-label="">
                                    <button
                                            type="button"
                                            class="btn btn-default"
                                            data-request="foods::onShowBurger"
                                            data-request-update="site/food/foodwrapper: '#foodWrapper'"
                                    >
                                        Burger
                                    </button>
                                    <button type="button" class="btn btn-default">
                                        <a href="#Koerberl">Fingerfood im Körberl</a></button>
                                    <button type="button" class="btn btn-default">
                                        <a href="#Classics">Classics</a>
                                    </button>
                                </div>#}


            <div id="foodWrapper">{% partial 'site/food/foodwrapper' %}</div>


            {% partial 'site/food/allergene.htm' %}

        </div>
        <div role="tabpanel" class="tab-pane dropdown fade" id="drinks">
            <br>
            <div class="col text-center">
                <h1>DRINKS</h1>
            </div>
            <br>
            <div class="col-sm-6 col-md-4">

                <h3>Draught</h3>

                <div id="app">
                    {% set newArray = [] %}
                    {% for drink in drinks.draught %}
                        <ul class="list-unstyled drink">
                            {% if drink.name not in newArray %}
                                <li id="item-{{ drink.id }}" class="index">
                                    <strong>{{ drink.name }} </strong>
                                    <sup>
                                        {% for allergene in drink.allergene %}
                                            {{ allergene }}
                                        {% endfor %}
                                    </sup> <i>{{ drink.description }}</i>
                                </li>
                                {% set newArray = newArray|merge([drink.name]) %}
                            {% endif %}

                        </ul>
                    {% endfor %}

                </div>

                <h3>Bottles</h3>

                <div id="app">
                    {% set newArray = [] %}
                    {% for drink in drinks.bottles %}
                        <ul class="list-unstyled drink">
                            {% if drink.name not in newArray %}
                                <li id="item-{{ drink.id }}" class="index">
                                    <strong>{{ drink.name }} </strong>
                                    <sup>
                                        {% for allergene in drink.allergene %}
                                            {{ allergene }}
                                        {% endfor %}
                                    </sup> <i>{{ drink.description }}</i>
                                </li>
                                {% set newArray = newArray|merge([drink.name]) %}
                            {% endif %}

                        </ul>
                    {% endfor %}

                </div>

            </div>

            <div class="col-sm-6 col-md-4">

                <h3>Craft Beer</h3>

                <div id="app">
                    {% set newArray = [] %}
                    {% for drink in drinks.craftBeer %}
                        <ul class="list-unstyled drink">
                            {% if drink.name not in newArray %}
                                <li id="item-{{ drink.id }}" class="index">
                                    <strong>{{ drink.name }} </strong>
                                    <sup>
                                        {% for allergene in drink.allergene %}
                                            {{ allergene }}
                                        {% endfor %}
                                    </sup> <i>{{ drink.description }}</i>
                                </li>
                                {% set newArray = newArray|merge([drink.name]) %}
                            {% endif %}

                        </ul>
                    {% endfor %}

                </div>

            </div>

            <div class="col-sm-6 col-md-4">

                <h3>Cider Draught</h3>

                <div id="app">
                    {% set newArray = [] %}
                    {% for drink in drinks.ciderDraught %}
                        <ul class="list-unstyled drink">
                            {% if drink.name not in newArray %}
                                <li id="item-{{ drink.id }}" class="index">
                                    <strong>{{ drink.name }} </strong>
                                    <sup>
                                        {% for allergene in drink.allergene %}
                                            {{ allergene }}
                                        {% endfor %}
                                    </sup> <i>{{ drink.description }}</i>
                                </li>
                                {% set newArray = newArray|merge([drink.name]) %}
                            {% endif %}

                        </ul>
                    {% endfor %}

                </div>

            </div>

            <div class="col-sm-6 col-md-4">

                <h3>Cider Bottles</h3>

                <div id="app">
                    {% set newArray = [] %}
                    {% for drink in drinks.ciderBottles %}
                        <ul class="list-unstyled drink">
                            {% if drink.name not in newArray %}
                                <li id="item-{{ drink.id }}" class="index">
                                    <strong>{{ drink.name }} </strong>
                                    <sup>
                                        {% for allergene in drink.allergene %}
                                            {{ allergene }}
                                        {% endfor %}
                                    </sup> <i>{{ drink.description }}</i>
                                </li>
                                {% set newArray = newArray|merge([drink.name]) %}
                            {% endif %}

                        </ul>
                    {% endfor %}

                </div>

            </div>

            <div class="col-sm-6 col-md-4">

                <h3>Wine</h3>

                <div id="app">
                    {% set newArray = [] %}
                    {% for drink in drinks.wine %}
                        <ul class="list-unstyled drink">
                            {% if drink.name not in newArray %}
                                <li id="item-{{ drink.id }}" class="index">
                                    <strong>{{ drink.name }} </strong>
                                    <sup>
                                        {% for allergene in drink.allergene %}
                                            {{ allergene }}
                                        {% endfor %}
                                    </sup> <i>{{ drink.description }}</i>
                                </li>
                                {% set newArray = newArray|merge([drink.name]) %}
                            {% endif %}

                        </ul>
                    {% endfor %}

                </div>

            </div>

            <div class="col-sm-6 col-md-4">

                <h3>Whiskey</h3>

                <div id="app">
                    {% set newArray = [] %}
                    {% for drink in drinks.whiskey %}
                        <ul class="list-unstyled drink">
                            {% if drink.name not in newArray %}
                                <li id="item-{{ drink.id }}" class="index">
                                    <strong>{{ drink.name }} </strong>
                                    <sup>
                                        {% for allergene in drink.allergene %}
                                            {{ allergene }}
                                        {% endfor %}
                                    </sup> <i>{{ drink.description }}</i>
                                </li>
                                {% set newArray = newArray|merge([drink.name]) %}
                            {% endif %}

                        </ul>
                    {% endfor %}

                </div>

            </div>

            <div class="col-sm-6 col-md-4">

                <h3>Spirits</h3>

                <div id="app">
                    {% set newArray = [] %}
                    {% for drink in drinks.spirits %}
                        <ul class="list-unstyled drink">
                            {% if drink.name not in newArray %}
                                <li id="item-{{ drink.id }}" class="index">
                                    <strong>{{ drink.name }} </strong>
                                    <sup>
                                        {% for allergene in drink.allergene %}
                                            {{ allergene }}
                                        {% endfor %}
                                    </sup> <i>{{ drink.description }}</i>
                                </li>
                                {% set newArray = newArray|merge([drink.name]) %}
                            {% endif %}

                        </ul>
                    {% endfor %}

                </div>

            </div>

            <div class="col-sm-6 col-md-4">

                <h3>Long Drinks</h3>

                <div id="app">
                    {% set newArray = [] %}
                    {% for drink in drinks.longDrinks %}
                        <ul class="list-unstyled drink">
                            {% if drink.name not in newArray %}
                                <li id="item-{{ drink.id }}" class="index">
                                    <strong>{{ drink.name }} </strong>
                                    <sup>
                                        {% for allergene in drink.allergene %}
                                            {{ allergene }}
                                        {% endfor %}
                                    </sup> <i>{{ drink.description }}</i>
                                </li>
                                {% set newArray = newArray|merge([drink.name]) %}
                            {% endif %}

                        </ul>
                    {% endfor %}

                </div>

            </div>

            <div class="col-sm-6 col-md-4">

                <h3>Shots</h3>

                <div id="app">
                    {% set newArray = [] %}
                    {% for drink in drinks.shots %}
                        <ul class="list-unstyled drink">
                            {% if drink.name not in newArray %}
                                <li id="item-{{ drink.id }}" class="index">
                                    <strong>{{ drink.name }} </strong>
                                    <sup>
                                        {% for allergene in drink.allergene %}
                                            {{ allergene }}
                                        {% endfor %}
                                    </sup> <i>{{ drink.description }}</i>
                                </li>
                                {% set newArray = newArray|merge([drink.name]) %}
                            {% endif %}

                        </ul>
                    {% endfor %}

                </div>

            </div>

            <div class="col-sm-6 col-md-4">

                <h3>Spirits Bottles</h3>

                <div id="app">
                    {% set newArray = [] %}
                    {% for drink in drinks.spiritsBottles %}
                        <ul class="list-unstyled drink">
                            {% if drink.name not in newArray %}
                                <li id="item-{{ drink.id }}" class="index">
                                    <strong>{{ drink.name }} </strong>
                                    <sup>
                                        {% for allergene in drink.allergene %}
                                            {{ allergene }}
                                        {% endfor %}
                                    </sup> <i>{{ drink.description }}</i>
                                </li>
                                {% set newArray = newArray|merge([drink.name]) %}
                            {% endif %}

                        </ul>
                    {% endfor %}

                </div>

            </div>

            <div class="col-sm-6 col-md-4">

                <h3>Combi Bottles</h3>

                <div id="app">
                    {% set newArray = [] %}
                    {% for drink in drinks.combiBottles %}
                        <ul class="list-unstyled drink">
                            {% if drink.name not in newArray %}
                                <li id="item-{{ drink.id }}" class="index">
                                    <strong>{{ drink.name }} </strong>
                                    <sup>
                                        {% for allergene in drink.allergene %}
                                            {{ allergene }}
                                        {% endfor %}
                                    </sup> <i>{{ drink.description }}</i>
                                </li>
                                {% set newArray = newArray|merge([drink.name]) %}
                            {% endif %}

                        </ul>
                    {% endfor %}

                </div>

            </div>

            <div class="col-sm-6 col-md-4">

                <h3>Non-Alcoholic Drinks</h3>

                <div id="app">
                    {% set newArray = [] %}
                    {% for drink in drinks.nonAlcoholicDrinks %}
                        <ul class="list-unstyled drink">
                            {% if drink.name not in newArray %}
                                <li id="item-{{ drink.id }}" class="index">
                                    <strong>{{ drink.name }} </strong>
                                    <sup>
                                        {% for allergene in drink.allergene %}
                                            {{ allergene }}
                                        {% endfor %}
                                    </sup> <i>{{ drink.description }}</i>
                                </li>
                                {% set newArray = newArray|merge([drink.name]) %}
                            {% endif %}

                        </ul>
                    {% endfor %}

                </div>

            </div>

            <div class="col-sm-6 col-md-4">

                <h3>Hot Drinks</h3>

                <div id="app">
                    {% set newArray = [] %}
                    {% for drink in drinks.hotDrinks %}
                        <ul class="list-unstyled drink">
                            {% if drink.name not in newArray %}
                                <li id="item-{{ drink.id }}" class="index">
                                    <strong>{{ drink.name }} </strong>
                                    <sup>
                                        {% for allergene in drink.allergene %}
                                            {{ allergene }}
                                        {% endfor %}
                                    </sup> <i>{{ drink.description }}</i>
                                </li>
                                {% set newArray = newArray|merge([drink.name]) %}
                            {% endif %}

                        </ul>
                    {% endfor %}

                </div>

            </div>
        </div>
    </div>


</div>
