title = "Home"
url = "/"
layout = "default"
meta_description = "dein Pub im Herzen Mariahilfs nähe Mariahilferstrasse. Spiele Billard oder Darts, verfolge deine Lieblingsmannschaften (Fussball) auf großen TV Leinwänden, oder genieße aus der umfangreichen Getränke- / Speisekarte."
is_hidden = 0

[lunchoffers]
[games]
[eventImages]
==
<?php
use Milo\HeroImage\Models\HeroImage;
    function onStart() {
        $this['heroimages'] = HeroImage::limit(3)
        						->where('is_active', '=', true)
        						->orderBy('sort_order')
        						->get();
    }
?>
==
<!-- Hero Section Start -->
	{% partial 'site/heroimage' %}
<!-- End Hero Section -->

{% set winners = config('ll.winners') %}
<div style="background: black; color: white; font-weight: bold;">
	<div class="container" style="padding: 10px 0">
		<div style="margin: 0 20px">
			<marquee behavior="" direction="">
				Gewinner der 10 Tages Geburtstagsfeier:
				{% for winner in winners  %}
				<span style="margin: 0 20px">
					<span class="text-muted" style="padding-right: 5px;">{{ winner.name }}</span> {{ winner.prize }}
				</span>
				{% endfor %}
			</marquee>
		</div>
	</div>
</div>


<!-- Chalkboard -->
<div class="jumbotron chalkboard">
	<div class="container">
		<div class="row">
			{% if todays_food|length %}
				{% if weekend == false %}
					<div class="col-sm-6 col-sm-offset-1">
						{% partial "food_today.htm" %}
					</div>
				{% endif %}
			{% endif %} 
			
			<!-- Events Din (A4, A1) Format -->
			{% component 'eventImages' %}

		</div>
	</div>
</div> <!-- End Chalkboard -->


<!-- Sports TV Section -->
{% if sportstv|length %}
<div class="jumbotron sportstv">
	<div class="container">
		<div class="row">	
			<div class="col-sm-6 col-sm-offset-3">
				<h1>Sports TV</h1>
				{% partial "site/sportstv.htm" %}
			</div>
		</div>
	</div> 
</div>
{% endif %} <!-- End Sports TV Section -->

<!-- Billard & Darts Section -->
<div id="billard-darts" class="jumbotron red-gradient">
	<div class="bricks">	
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-2">
					<h1>Billard &amp; Darts</h1>
					<p><strong>5 Pool Billard Tische <br> 
					2 Dartautomaten</strong></p>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-sm-4 col-sm-offset-2">
					<img src="{{ 'assets/images/billard.jpg'|theme }}" alt="play Billard in Laurel Leaf" class="img-responsive img-rotate-up m-b-sm box-shadow">
				</div>
				<div class="col-sm-4">
					<img src="{{ 'assets/images/darts.jpg'|theme }}" alt="play Darts in Laurel Leaf" class="img-responsive img-rotate-down m-b-sm box-shadow">
				</div>
			</div>
		</div>
	</div>
</div> <!-- End Billard & Darts Section -->

{% partial "site/story-of-laurelleaf.htm" %}