description = "Allergie Codex"
==
<div class="table-responsive">
    <table class="table table-condensed allergene">
        <tr>
            <b>Allergie Codex:</b>
        </tr>
        <tr>
            <td class="char"><b>A</b></td>
            <td>Gluten</td>
            <td class="char"><b>D</b></td>
            <td>Fisch</td>
            <td class="char"><b>G</b></td>
            <td>Milch</td>
            <td class="char"><b>M</b></td>
            <td>Senf</td>
            <td class="char"><b>R</b></td>
            <td>Weichtiere</td>
        </tr>
        <tr>
            <td class="char"><b>B</b></td>
            <td>Krebstiere</td>
            <td class="char"><b>E</b></td>
            <td>Erdnuss</td>
            <td class="char"><b>H</b></td>
            <td>Schalenfrüchte</td>
            <td class="char"><b>N</b></td>
            <td>Sesam</td>
            <td class="char"><b>O</b></td>
            <td>Sulfite</td>
        </tr>
        <tr>
            <td class="char"><b>C</b></td>
            <td>Eier</td>
            <td class="char"><b>F</b></td>
            <td>Soja</td>
            <td class="char"><b>L</b></td>
            <td>Sellerie</td>
            <td class="char"><b>P</b></td>
            <td>Lupine</td>
            <td></td>
            <td></td>
        </tr>

    </table>
</div>