{% if foods|length %}

    <div class="row">

        {% set foodCategory = '' %}

        {# hier die Darstellung in Vollbildansicht anpassen (wieviele Speisen pro Spalte) #}
        {% for chunked in foods.chunk(19) %}

            <div class="col-sm-6 col-md-4">

                {% for food in chunked %}

                    {% set class = '' %}

                    {% if food.foodcategory.name not in foodCategory %}
                        <h3 class="menue-header">{{ food.foodcategory.name }}</h3>
                        <hr>
                        {% set foodCategory = food.foodcategory.name %}
                    {% endif %}

                    <div class="row">
                        <div class="col-xs-9">
                            <p id="item-{{ food.id }}" class="index">
                                <strong class="
                                    {% if food.new == true %}
                                        {% set class = 'new ' %}
                                    {% endif %}

                                    {% if food.vegetarisch == true %}
                                        {% set class = class ~ 'vegetarian ' %}
                                    {% endif %}

                                    {% if food.vegan == true %}
                                        {% set class = class ~ 'vegan ' %}
                                    {% endif %}

                                    {% if food.spicy == true %}
                                        {% set class = class ~ 'spicy ' %}
                                    {% endif %}
                            {{ class }}">
                                    {{ food.name }} </strong>
                                <sup>
                                    <small>
                                        {% for allergene in food.allergene %}
                                            {{ allergene }}
                                        {% endfor %}
                                    </small>
                                </sup>
                                {% if food.description %}
                                    <br> {{ food.description }}
                                {% endif %}
                            </p>
                        </div>
                        <div class="col-xs-3 text-right">
                            € {{ food.amount|number_format(2, ',', '.') }}
                        </div>
                    </div>


                {% endfor %}

            </div>

        {% endfor %}

    </div>

{% else %}

    <div class="text-center">
        <p>
            ...noch keine Speisen vorhanden...
        </p>
    </div>

{% endif %}