body {
    font-family: 'Roboto Slab', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #424242;
    padding-top: 150px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 50%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f2f2f2 50%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#f2f2f2 50%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    copy
}

#footer{

}

.jumbotron.dark {
    background: #444444;
    color: white;
}

.navbar-inverse {
    background-color: #212121;
    border-color: #212121;
}

h1, h2, h3 {
    font-family: 'Kanit', sans-serif;
    font-weight: 800;
    color: inherit;
}

h1{
    font-size: 41px;
}

h1.title {
    margin-bottom: 40px;
    margin-top: 40px;
}

.btn {
    border-radius: 0;
}

.btn-default {
    background-color: inherit; 
    border-color: #cccccc;
}

.btn-default.onblack {
    color: #ffffff;
}

.btn-default.onblack:hover, .btn-default.onblack:focus {
    background-color: #2a2a2a;
}

.cc_container .cc_btn, .cc_container .cc_btn:visited {
    background-color: #1fb05f !important;
    color: white !important;
}

.jumbotron {
    margin-bottom: 0;
}

.jumbotron.red-gradient h1 {
    color: white;
}

.jumbotron h1, .jumbotron .h1 {
    color: #424242;
    font-size: 41px;
}

.jumbotron p {
    font-size: inherit;
}

.jumbotron.sportstv p{    
    margin-bottom: 0;
}

.hero {
}

.date-sportstv {
    text-transform: uppercase;
    letter-spacing: 1px;
}

div#sports-tv-carousel {
    min-height: 450px;
}

/* disable horizontal scrolling !!! headache saver */
.container {
    overflow: hidden;
}

.color-accent {
    color: #00A74B;
}

a {
    color: #00A74B;
}

a:hover, a:focus {
    color: #198c4c;
    text-decoration: underline;
}

.navbar-header .navbar-brand {
    padding-left: 247px;
    background-image: url(../images/logo-laurel-leaf.png);
    background-size: auto 85%;
    background-repeat: no-repeat;
    background-position: 7px 50%;
    transition: color 0.2s ease 0.05s;
    color: #ccc;
}

.subheader{
    text-align: right;
    height: 30px;
    color: white;
    font-size: 14px;
    line-height: 2.3;
    background-color: gray;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
ul.nav > li {
    font-family: 'Kanit', sans-serif;
    font-weight: 800;
    text-align: center;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: inset 0px 0px 25px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 25px 2px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 25px 2px rgba(0,0,0,0.75);
    top: 0;
    left: 0;
}

.carousel-control .icon-chevron-left,
.carousel-control .icon-chevron-right {
    display: inline-block;
    position: absolute;
    top: 50%;
    z-index: 5;
}


.carousel-caption {
    left: 55%;
    right: 5%;
    padding-bottom: 30px;
    background: rgba(255,255,255,0.8);
    color: black;
    text-align: left;
    padding: 0px 20px 10px 20px;
    text-shadow: none;
}

.cost{
    position: absolute;
    right: 5px;
    bottom: 10px;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
}


.relativ {
    position: relative;
}

.star-content{
   position: absolute;
    top: 10%;
    left: 3%;
    color: white;
    font-size: 250%;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
}

.star {
    background: #00A74B;
    width: 80px;
    height: 80px;
    position: relative;
    text-align: center;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}
.star:before, .star:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    background: #00A74B;
}
.star:before {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
}
.star:after {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
}

.nav-pills > li {
    text-align: center;
    width: 50%;
    float: left;
}

.nav-pills > li + li {
    margin-left: 0;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #ffffff;
    background-color: #1fb05f;
    border-radius: inherit;
    border: 1px solid #1fb05f;
}

.nav-pills > li > a {
    border-radius: inherit;
    border: 1px solid #1fb05f;
}

.vegan::after{

}

.vegetarian:after{
    background-image: url('../images/custom-icons/vegetarian@2x.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
}

.spicy:after{
    background-image: url('../images/custom-icons/spicy@2x.png');
    background-repeat: no-repeat;
    background-size: 25px 25px;
    display: inline-block;
    width: 25px;
    height: 25px;
    content: "";
}

.vegetarian.spicy:after{
    background-image: url('../images/custom-icons/veggy-spicy@2x.png');
    background-repeat: no-repeat;
    background-size: 55px 34px;
    display: inline-block;
    width: 55px;
    height: 28px;
    content: "";
}

.new:before{
    background-image: url('../images/custom-icons/new@2x.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    content: "";
    margin-bottom: -9px;
}

.icon-heart {
    border: none;
    background: none;
    color: rgba(31, 176, 95, 0.38);
}

table.allergene td.char {
    width: 3%;
}

.nice-select{
    line-height: 29px;
    background-color: #1eb05e;
    border-radius: 0;
    border: solid 1px #0a793a;

    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
    color: white;
}

.nice-select .list {
    background-color: #1eb05e;
    border-radius: 0;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: scale(0.75) translateY(-21px);
    -ms-transform: scale(0.75) translateY(-21px);
    transform: scale(0.75) translateY(-21px);
    -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
}

.nice-select:after {
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    content: '';
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 5px;
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
    background-color: #108543;
}

.nice-select.wide {
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nice-select:active, .nice-select.open, .nice-select:focus {
    border-color: #11ac54;
}

h3.menue-header{
    font-family: inherit;
    font-weight: inherit;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}

h3.menue-header + hr{
    margin-top: 0;
}

.weekday {
    padding-top: 20px;
    font-size: 12px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.weekday > hr, .weekday + hr {
    margin-top: 5px;
}

.btn-info {
    color: #ffffff;
    background-color: #1eb05e;
    border-color: #189950;
}

.btn-info:hover, .btn-info:focus, .btn-info:active  {
    color: #ffffff;
    background-color: #219d58;
    border-color: #189950;
}

.p50{
    padding: 50px;
}

.mb15 {
    margin-bottom: 15px; 
}

.chalkboard {
    background: url('../images/chalkboard.jpg');
    background-size: cover;
    color: white;
}

.chalkboard p{
    font-family: 'Indie Flower', cursive;
    font-size: 150%;
}

.sportstv {
    background: url('../images/sportstv-bg.jpg');
    background-size: cover;
    color: white;
}

.sportstv h1, .chalkboard h1{
    color: white;
}

.sportstv .date{
    padding-top: 20px;
}

.sportstv .carousel-control.left {
    background-image: none;
    left: -90px;
}

.sportstv .carousel-control.right {
    background-image: none;
    right: -20px;
}

.p50tb{
    padding: 50px 0;
}

.red-gradient {
    background: #c93b35; /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
    background: -webkit-linear-gradient(left, #c93b35 0%, #d03731 100%);
    background: -o-linear-gradient(left, #c93b35 0%, #d03731 100%);
    background: linear-gradient(to right, #c93b35 0%, #d03731 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c93b35', endColorstr='#d03731',GradientType=1 ); /* IE6-9 */
    color: white;
}

.bricks {
    background-image: url('../images/raw-prick-texture-seamless-frontend-large-2.jpg');
    background-repeat: repeat-x;
    background-position: left bottom;
    display: flex;
    margin-bottom: -48px;
    padding-bottom: 48px;
}

.img-rotate-up{
    transform: rotate(-3deg);
    margin-top: -1px;
}

.img-rotate-down{
    transform: rotate(5deg);
    margin-top: -9px;
}

.img-rotate-down-2 {
    transform: rotate(2deg);
    margin-top: -9px;
    box-shadow: 2px 2px 6px black;
    width: 340px;
    margin-top: 20px;
    box-shadow: 2px 2px 6px black;
}

.image-row {
    margin-bottom: 20px;
    padding-top: 14px;
    border-bottom: 2px solid #E1E5E9;
}

.image-row:last-child{
    border-bottom: none;
}

.mr-30 {
    margin-right: -30px;
} 

.ml10 {
    margin-left: 10px;
}

.ml-10 {
    margin-left: -10px;
}

.thumbnail {
    background-color: inherit;
    display: block;
    padding: 0;
    margin-bottom: 25px;
    line-height: 1.6;
    border: none;
    border-radius: 0px;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}

.image-row .col-xs-6, .image-row .col-sm-3, .image-row .col-md-3, .image-row .col-lg-3 {
    padding-left: 3px;
    padding-right: 3px;
}

.p0 {
    padding: 0;
}

.mr-10 {
    margin-right: -20px;
}

.mt-30 {
    margin-top: 30px;
}

.imagewrapper {
    position: relative;
    float: left;
    margin-bottom: 15px;
    width: 100%;
}

.imagewrapper .img-responsive {
    width: 100%;
}

.textwrapper {
    position: absolute;
    z-index: 99;
    top: 20%;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    height: 100%;
}

.textwrapper a {
    color: white;
}

.textwrapper h3 {
    font-size: 17px;
    text-align: center;
}

.counterwrapper {
    position: absolute;
    z-index: 99;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 10px;
    width: 100%;
    height: 30px;
    color: white;
    background-color: rgba(0,0,0,0.5);
    font-size: 12px;
    font-weight: bold;
}

#gallerySlug div {
    margin: 7px !important;
}

@media screen and (min-width: 1200px) {
    ul.nav > li{
        font-size: 200%;
        margin-top: -3px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px){
    ul.nav > li{
        font-size: 170%;
        margin-top: -3px;
    }
}

/* bigger Screens */
@media screen and (min-width: 768px) {
    .navbar {
        min-height: 150px;
    }

    #layout-nav>.container {
        height: 120px;
        padding-top: 22px;
    }

    .navbar-collapse {
        float: right;
    }

    .navbar-nav > li > a {
        text-align: center;
        /*display: table-caption;*/
        white-space: nowrap;
        padding-bottom: 25px;
        margin-top: -3px;
    }

    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color: #ffffff;
        background-color: #212121;
    }

    span.roboto-slab {
        color: #00A74B;
        font-family: 'Roboto Slab', sans-serif;
        font-size: 14px;
        font-weight: bold;
    }

    .navbar-inverse .navbar-collapse:not(.in):not(.collapsing) .navbar-nav li > a:hover:after {
        background: #00A74B;
    }

    #heroImage p.description{
        width: 80%;
    }

    h1.lunchoffer {
        background: url('../images/lunchoffer-3leafs.png');
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 30px;
    }

    h1.lunchoffer::after {
        content: "";
        background: url('../images/lunchoffer-3leafs.png');
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 30px;  
        display: inline-block;
        position: absolute;
        width: 130px;
        height: 50px;
    }

    div#sports-tv-carousel {
        min-height: 350px;
    }

    .gallery {
        padding-left: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    ul.nav > li{
        font-size: 120%;
        margin-top: 5px;
    }
    .navbar-collapse:not(.in):not(.collapsing) .navbar-nav li > a:after {
        margin-bottom: -23px;
}
}



/* iPhones, Smartphones Portrait */
@media screen and (max-width: 767px) {
    body {
        padding-top: 70px;
    }

    .navbar-header .navbar-brand {
        padding-left: 233px;
        background-size: auto 60%;
        margin-left: 10px;
    }

    .carousel-caption {
        left: 5%;
        right: 5%;
        padding-bottom: 50px;
        text-align: left;
        padding: 0px 20px 10px 20px;
        text-shadow: none;
        font-size: 85%;
    }

    .carousel-caption h3{
        font-size: 130%
    }

    #heroImage p.description{
        font-size: 90%;
        width: 70%;
    }

    .star-content{
        position: absolute;
        top: 10%;
        left: 3%;
        color: white;
        font-size: 290%;
    }

    .shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-box-shadow: inset 0px 0px 7px 2px rgba(0,0,0,0.55);
        -moz-box-shadow: inset 0px 0px 7px 2px rgba(0,0,0,0.55);
        box-shadow: inset 0px 0px 7px 2px rgba(0,0,0,0.55);
        top: 0;
        left: 0;
    }

    .table-responsive{
        border: none;
    }

    .chalkboard{
        background-size: cover;
    }

    .chalkboard p {
        font-family: 'Indie Flower', cursive;
        font-size: 120%;
    }

    .p50{
        padding: 30px;
    }

    .img-rotate-up{
        transform: rotate(-3deg);
        margin-top: -1px;
    }

    .img-rotate-down{
        transform: rotate(3deg);
        margin-top: 0px;
    }

    .sportstv .carousel-control.left {
        left: -20px;
    }

    .sportstv .carousel-control.right {
        right: -10px;
    }

    .sportstv .carousel .item {
        padding: 0 30px;
    }

    div#sports-tv-carousel {
        min-height: 450px;
    }
}

/* contact - reservation */
.tripadvisor {
    margin: 25px 0px;
}

.form-control {
    border: 1px solid #e5e5e5;
    border-radius: 0px; 
}

.required label:after {
    content: ' *';
    color: red;
}

.antispam {
    display: none;
}

.form-group .visible {
    color: red;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

i.icon {
    padding: 5px 10px;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
    box-shadow: 0px 0px 2px #888;
}

