<div class="row">
    <div class="col-xs-2 col-sm-1">
        <i class="icon-map-marker icon-2x"></i> 
    </div>
    <div class="col-xs-10 col-sm-11">
        <strong>Laurel Leaf Irish Pub Vienna</strong><br>
        Theobaldgasse 15 <br>
        A-1060 Wien <br>
        <strong><a href="http://maps.google.at/maps?q=laurel+leaf+wien&hl=de&ll=48.200336,16.359007&spn=0.013945,0.026157&sll=48.220874,16.391346&sspn=0.049717,0.101137&view=map&cid=2546037653436169866&hq=laurel+leaf+wien&t=m&z=16&vpsrc=0&iwloc=A" target="_blank">Google Maps Standort</a></strong>
    </div>
</div>

<br>

<div class="row">
    <div class="col-xs-2 col-sm-1">
        <i class="icon-phone icon-2x"></i> 
    </div>
    <div class="col-xs-10 col-sm-11">
        <strong>Telefon</strong> <br>
        +43 1 585 68 65 <br>
    </div>
</div>

<br>

<div class="row">
    <div class="col-xs-2 col-sm-1">
        <i class="icon-clock-o icon-2x"></i> 
    </div>
    <div class="col-xs-10 col-sm-11">
        {# <strong>abweichende Öffnungszeiten Weihnachten 2018/19</strong><br>
        <div class="table-responsive">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>Montag, 24.12.</td>
                        <td>geschlossen</td>
                    </tr>
                    <tr>
                        <td>Montag, 31.12.</td>
                        <td>Silvesterparty, geöffnet ab 19:00</td>
                    </tr>
                    <tr>
                        <td>Dienstag, 1.1.2019</td>
                        <td>geschlossen</td>
                    </tr>
                </tbody>
            </table>
        </div> #}
        <strong>Öffnungszeiten</strong><br>
        <div class="table-responsive">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>Montag - Donnerstag</td>
                        <td>11.00 - 01.00</td>
                    </tr>
                    <tr>
                        <td>Freitag, Samstag</td>
                        <td>11.00 - 03.00</td>
                    </tr>
                    <tr>
                        <td>Sonntag und Feiertag</td>
                        <td>17.00 - 00.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Christmas Opening Hours Start -->

{# <div class="row">
    <div class="col-xs-2 col-sm-1">
        <i class="icon-star icon-2x"></i> 
    </div>
    <div class="col-xs-10 col-sm-11">
        <strong>Weihnachts - Öffnungszeiten</strong><br>
        <div class="table-responsive">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>24.12.</td>
                        <td>ab 20:00 <strong>Christmas Party</strong></td>
                    </tr>
                    <tr>
                        <td>25. & 26.12.</td>
                        <td>ab 17:00</td>
                    </tr>
                    <tr>
                        <td>31.12.</td>
                        <td>ab 19:00 <strong>(nur mit Reservierung)</strong></td>
                    </tr>
                    <tr>
                        <td>1.1.18</td>
                        <td>geschlossen</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> #} <!-- End Christmas Opening Hours -->

<br>

<div class="row">
    <div class="col-xs-2 col-sm-1">
        <i class="icon-facebook-square icon-2x"></i>
    </div>
    <div class="col-xs-10 col-sm-11">
        <strong><a href="https://www.facebook.com/pages/Laurel-leaf-1060/145081492197194" target="_blank"> Laurel Leaf Facebook Seite</a></strong>
    </div>
</div>

<br>

<div class="row">
    <div class="col-xs-2 col-sm-1">
        
    </div>
    <div class="col-xs-10 col-sm-11">
        <div class="tripadvisor">
            <div id="TA_restaurantWidgetWhite76" class="TA_restaurantWidgetWhite">
            <ul id="DSInxQ0c" class="TA_links NTI5kszNH">
            <li id="Wt2WMzggd" class="TTNLUq">
            <a target="_blank" href="https://www.tripadvisor.at/"><img src="https://www.tripadvisor.at/img/cdsi/partner/tripadvisor_logo_117x18-24177-2.png" alt="TripAdvisor"/></a>
            </li>
            </ul>
            </div>
            <script src="https://www.jscache.com/wejs?wtype=restaurantWidgetWhite&amp;uniq=76&amp;locationId=6786833&amp;icon=knifeAndFork&amp;lang=de_AT&amp;display_version=2"></script>
        </div>
    </div>
</div>