<!-- Nav -->
<nav id="layout-nav" class="navbar navbar-inverse navbar-fixed-top navbar-autohide" role="navigation">

    <!-- Sub Header -->
    <div class="subheader hidden-xs">
        <div class="container">
            <div class="row">
                <!-- <div class="col-sm-6 text-left">
                    <a href="/contact-reservation" style="color: white;">
                        <i class="icon-star"></i> ÖFFNUNGSZEITEN ÄNDERUNG SAMSTAG AB 17:00 <i class="icon-star"></i>
                    </a>
                </div> -->
                <div class="col-sm-12 text-right">
                    <ul class="list-inline">
                        <li><i class="icon-map-marker" aria-hidden="true"></i> Theobaldgasse 15, 1060 Wien</li>
                        <li><i class="icon-phone" aria-hidden="true"></i> +43 1 585 68 65</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Logo & Navigation -->
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ 'home'|page }}"></a>
        </div>
        <div class="collapse navbar-collapse navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="{% if this.page.id == 'home' %}active{% endif %}">
                    <a href="{{ 'home'|page }}">HOME <br>
                    <span class="roboto-slab hidden-xs hidden-sm">News &amp; Events</span></a>
                </li>
                <li class="{% if this.page.id == 'food-drinks' %}active{% endif %}">
                    <a href="{{ 'food-drinks'|page }}">MENU <br>
                    <span class="roboto-slab hidden-xs hidden-sm">Food &amp; Drinks</span></a>
                </li>
                <li class="{% if this.page.id == 'photo-gallery' %}active{% endif %}">
                    <a href="{{ 'photo-gallery'|page }}">GALLERY <br>
                        <span class="roboto-slab hidden-xs hidden-sm">Events &amp; Location</span></a>
                </li>
                <li class="{% if this.page.id == 'contact-reservation' %}active{% endif %}">
                    <a href="{{ 'contact-reservation'|page }}">CONTACT <br>
                        <span class="roboto-slab hidden-xs hidden-sm">&amp; Table Reservation</span></a>
                </li>
                <li class="hidden-xs hidden-sm">
                    <img src="{{ 'assets/images/custom-icons/billard-darts.png'|theme }}" alt="Billard & Darts">
                </li>

            </ul>
        </div>
    </div>
</nav>
